.title {
  text-align: center;
  padding: 10px;
  border-width: 5px;
  border-radius: 50px;
  font-size: 100px;
  font-family: "Dancing Script", cursive;
}

.poems {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  list-style-type: none;
  background-color: rgb(211, 218, 246);
  width: 270px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: solid;
}

.image {
  display: flex;
  margin: 0.6em;
  width: 15em;
  height: 10em;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.suited {
  padding-top: 20px;
  display: flex;
  margin: 0.6em;
  width: 60%;
  height: 40%;
  justify-content: center;
  margin-left: 25%;
  max-width: 100%;
  border-radius: 50px;
}
.body {
  background-color: antiquewhite;
}
.whole-poem-spring {
  border: 5px solid black;
  background-color: aliceblue;
  background-image: url(images/371574.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.whole-poem-nurse {
  border: 5px solid black;
  background-image: url(images/derek-finch-zkrPU_1AwdU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.whole-poem-p {
  border: 5px solid black;
  background-image: url(images/jachan-devol-xY_6ZENqcfo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.whole-poem-o {
  border: 5px solid black;
  background-image: url(images/tomoko-uji-kxvn1ogpTtE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.whole {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5px;
}

.part {
  justify-content: center;
  align-items: center;
}
#about {
  padding-top: 30px 0;
  color: #ababaa;
  padding-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: rgb(245, 49, 130);
  font-family: "Dancing Script", cursive;
}

@media all and (max-width: 500px) {
  .title {
    font-size: 50px;
  }
  .whole {
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
  .card {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
    max-width: 100%;
  }
  .about-col-1 {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .about-col-2 {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
  }
  .image {
    flex-basis: 100%;
    padding-left: 12.5%;
    border-radius: 0%;
  }
  .whole-poem-p {
    color: white;
  }
}
